/* Home.css */
.home {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #e8cfc1;
    background-color: #85754d;
  }

  .nav-bar a:hover {
    color: #ffcc00; /* Highlight color on hover */
  }
  
  /* Event Description Section */
  .event-description {
    padding: 40px 20px;
    background-color: #85754d;
  }
  
  .event-description h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #e8cfc1
  }
  
  .event-description p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color: #e8cfc1;
  }
  
  /* Event Info Section */
  .event-info {
    padding: 40px 20px;
    background-color: #5a6a5e;
    color: #e8cfc1;
  }
  
  .event-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e8cfc1;
  }
  
  .event-info p {
    font-size: 18px;
    margin: 10px 0;
    color: #e8cfc1;
  }

  .menu-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .menu-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  /* Instagram Icon */
  .instagram-link {
    margin: 40px 0;
   
  }
  
  .instagram-link a {
    color: #E1306C;
    text-decoration: none;
  }
  
  .instagram-link a:hover {
    opacity: 0.8;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    
  
    .event-description h1 {
      font-size: 28px; /* Smaller heading for mobile */
    }
  
    .event-description p {
      font-size: 16px; /* Smaller text for mobile */
    }
  
    .event-info h2 {
      font-size: 24px; /* Smaller heading for mobile */
    }
  
    .event-info p {
      font-size: 16px; /* Smaller text for mobile */
    }
  }